<!DOCTYPE html>
<html>
  <head>
    <title>Simple Login</title>
    <link rel="stylesheet" href="../css/app.css">
    </head>
    <body>
        <div class="container">
          <form>
            <h2>Login</h2>
            <a href="/auth/google">Sign in with Google</a>
            <a href="/auth/github">Sign in with Github</a>
          </form>
        </div>
      </body>
    </html>