<!DOCTYPE html>
<html>
  <head>
    <title>Welcome Page</title>
    <link rel="stylesheet" href="../css/welcome.css">
  </head>
  <body>
    <div class="container">
      <div class="welcome-text">
        <h2>Welcome, <%= user.displayName %>!</h2>
        <a href="/logout">Logout</a>
      </div>
    </div>
  </body>
</html>